/* --- Main --- */
.dashboard-main {
  flex: 2.5;
}

.metric-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.timeline-card-container {
  /* Vazio, para documentação */
  display: block;
}


/* --- Sidebar --- */
.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}


/* --- Pequenos componentes --- */
.date-picker {
  cursor: pointer;
}

.toggle-group {
  display: flex;
  border-radius: 6px;
}

.toggle-group button {
  background: transparent;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  color: var(--text-light);
  font-weight: 500;
}

.toggle-group button.active {
  color: var(--accent-green);
  font-weight: 600;
  border-radius: 6px;
}

/* --- Responsive Design --- */
@media (max-width: 1200px) {
  .metric-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .dashboard-main {
    flex: 1;
  }

  .dashboard-sidebar {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .metric-cards-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .dashboard-sidebar {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .metric-cards-container {
    gap: 0.75rem;
  }

  .dashboard-sidebar {
    gap: 0.75rem;
  }
}