/* --- Variáveis de Cor (baseado no protótipo do figma) --- */
:root {
  --bg-dark: #2A3342;
  --bg-light: #F5F5F5;
  --bg-white: #FFFFFF;
  --text-dark: #2A3342;
  --text-light: #757575;
  --text-white: #FFFFFF;
  --text-red: #C64F4E;
  --accent-green: #24BB68;
  --accent-blue: #3751FF;
  --accent-red: #F12B2C;
  --accent-yellow: #FFB100;
  --border-color: #DFE0EB;
}


/* --- Main --- */
.dashboard-main {
  flex: 2.5;
}

.metric-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.timeline-card-container {
  /* Vazio, para documentação */
  display: block;
}


/* --- Sidebar --- */
.dashboard-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}


/* --- Pequenos componentes --- */
.date-picker {
  cursor: pointer;
}

.toggle-group {
  display: flex;
  border-radius: 6px;
}

.toggle-group button {
  background: transparent;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  color: var(--text-light);
  font-weight: 500;
}

.toggle-group button.active {
  color: var(--accent-green);
  font-weight: 600;
  border-radius: 6px;
}