.metric-card {
  background: var(--bg-white);
  border-radius: 28px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.metric-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.metric-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 0.5rem;
}

.metric-header h3 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--text-dark);
  font-weight: 600;
  flex: 1;
}

.metric-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.metric-body p {
  margin: 0 0 0.5rem 0;
  color: var(--text-dark);
  font-weight: 500;
  font-size: 0.9rem;
}

.metric-progress-bar {
  width: 100%;
  height: 6px;
  background-color: #eee;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 0.25rem;
}

.metric-progress-bar-inner {
  height: 100%;
  border-radius: 3px;
}

.metric-body span {
  font-size: 0.9rem;
  color: var(--text-dark);
  font-weight: 600;
}

.metric-footer {
  margin-top: auto;
  color: var(--text-red);
  font-size: 0.9rem;
  text-align: right;
}